.popup {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.popup__container {
  color: #000;
  background-color: #fff;
  width: 430px;
  padding: 34px 37px 37px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  cursor: default;
}

.popup__closeBtn {
  background-image: url(../../images/btn-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.popup__title {
  font-size: 24px;
  line-height: 1.21;
  font-weight: 900;
  margin: 0 0 25px;
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.popup__input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 7px;
  margin: 30px 0 0;
  font-size: 14px;
  line-height: 1.21;
}

.popup__input:focus {
  outline: 2px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
}

.popup__submitBtn {
  margin-top: 100px;
  width: 100%;
  height: 50px;
  padding: 0;
  border: 0;
  background-color: #ff685b;
  ;
  color: #fff;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.popup__submitBtn_disabled {
  pointer-events: none;
  opacity: 0.2;
}

.popup__error {
  margin-top: 8px;
  font-size: 12px;
}

.popup__error_visible {
  color: #ff0000;
}

.popup__auth-error {
  margin-top: 20px;
  font-size: 14px;
}

@media screen and (max-width: 575px) {
  .popup__container {
    margin: 0 10px;
  }

  .popup__closeBtn {
    background-size: contain;
    width: 24px;
    height: 24px;
    right: 0;
  }
}
