.popup {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.popup__container {
  color: #000;
  background-color: #fff;
  width: 430px;
  padding: 34px 37px 37px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  cursor: default;
}

.popup__closeBtn {
  background-image: url(../../images/btn-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.popup__title {
  font-size: 24px;
  line-height: 1.21;
  font-weight: 900;
  margin: 0 0 24.26px;
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.popup__input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 7px;
  margin: 29.74px 0 0 0;
  font-size: 14px;
  line-height: 1.21;
}

.popup__input:focus {
  outline: 2px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
}

.popup__submitBtn {
  margin-top: 100px;
  width: 100%;
  height: 50px;
  padding: 0;
  border: 0;
  background-color: #ff685b;;
  color: #fff;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.popup__submitBtn_disabled {
  pointer-events: none;
  opacity: 0.2;
}

.popup__error {
  margin-top: 8px;
  font-size: 12px;
}

.popup__error_visible {
  color: #ff0000;
}

@media screen and (max-width: 575px) {
  .popup__container {
    margin: 0 10px;
  }

  .popup__closeBtn {
    background-size: contain;
    width: 24px;
    height: 24px;
    right: 0;
  }
}

/* .popup {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}

.popup__container {

  color: #000;
  background-color: #fff;
  width: 430px;
  padding: 34px 37px 37px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  cursor: default;
}

.popup__close-btn {
  background-image: url(../../../images/btn-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transition: opacity .2s linear;
}

.popup__close-btn:hover {
  opacity: .6;
}

.popup__caption {
  font-size: 12px;
  line-height: 1.21;
  margin-top: 10px;
}

.popup__button_withoutPopup {
  background-color: #fff;
  color: #000;
  margin: 216px 0 0 0;
}

.popup__button_withoutPopup:hover {
  opacity: .85;
}

@media screen and (max-width: 767px) {

  .popup__button_withoutPopup {
    width: 358px;
  }
}

.popup__button_withPopup {
  margin-top: 48px;
}


@media screen and (max-width: 424px) {

  .popup__button_withoutPopup {
    width: 260px;
    height: 46px;
    font-size: 16px;
    margin: 172px 0 8px 0;
  }
}






@media screen and (max-width: 767px) {

  .popup__close-btn {
    background-size: contain;
    width: 20px;
    height: 20px;
    right: 0px;
    top: -36px;
  }
}


@media screen and (max-width: 767px) {

  .popup__container {
    width: 418.60px;
    margin: 0 19px;
  }
}

@media screen and (max-width: 424px) {

  .popup__container {
    min-width: 87.5%;
    padding: 25px 22px;
  }
}

@media screen and (max-width: 425px) {

  .popup__title-reg {
    font-size: 20px;
  }
}

.popup__title-delete {
  margin: 0;
}

.popup__title {
  font-size: 24px;
  line-height: 1.21;
  font-weight: 900;
  margin: 0 0 24.26px;
}

@media screen and (max-width: 425px) {

  .popup__title {
    font-size: 18px;
    margin: 0 0 46px;
  }
}

.popup__input_type_error {
  border-color: #ff0000;
  opacity: 1;
}

.popup__image {
  display: block;
  margin: 26px auto 32px;
}

@media screen and (max-width: 425px) {

  .popup__image {
    margin: 27px auto 40px;
  }
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.popup__figure {
  margin: 0;
  font-size: 0;
}

.popup__error {
  max-width: 358px;
  min-height: 13.5px;
  font-size: 12px;
  line-height: 1.21;
  padding-top: 1px;
}

.popup__error_visible {
  color: #ff0000;
}
 */
