.contacts {
  display: flex;
  flex-direction: column;
  min-height: 290px;
  justify-content: center;
  max-width: 1046px;
  padding: 0 71px;
  margin: 0 auto;
}

.contacts__title {
  font-size: 58px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: .2px;
  color: #252b42;
  margin: 0;
}

@media screen and (max-width: 991px) {
  .contacts {
    padding: 0 30px
  }
}

@media screen and (max-width: 575px) {
  .contacts {
    padding: 0 10px
  }

  .contacts__title {
    font-size: 28px;
  }
}
